<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="0e17c74b-517a-48a6-b255-f7da7dc43144" Publisher="CN=Jeff" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HomeAmation.Win8</DisplayName>
    <PublisherDisplayName>Jeff</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>HomeAmation.Win8</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HomeAmation.Win8.App">
      <VisualElements DisplayName="HomeAmation" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="HomeAmation display temperature data from Diy data logger." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>